name: publish

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

env:
  PROJECT_NAME: "ASFImportTools"
  REPO_NAME: "ASFImportTools"
  PLUGIN_NAME: "ASFImportTools.dll"
  UI_NAME: "asf-import-tools"
  DOTNET_SDK_VERSION: 10.0
  NODE_JS_VERSION: "lts/*"

jobs:
  publish-ui:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Setup Node.js with npm
        uses: actions/setup-node@v6.2.0
        with:
          check-latest: true
          node-version: ${{ env.NODE_JS_VERSION }}

      - name: Verify Node.js
        run: node -v

      - name: Verify npm
        run: npm -v

      - name: Install npm modules
        run: npm ci --no-progress --prefix ${{ env.UI_NAME }}

      - name: Publish ${{ env.UI_NAME }}
        run: |
          npm run-script generateInfo --no-progress --prefix ${{ env.UI_NAME }}
          npm run-script build --no-progress --prefix ${{ env.UI_NAME }}

      - name: Upload ${{ env.UI_NAME }}
        uses: actions/upload-artifact@v4.6.0
        with:
          if-no-files-found: error
          name: plugin-ui
          path: ${{ env.UI_NAME }}/build

  publish-plugin:
    needs: publish-ui
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}

      - name: Verify .NET Core
        run: dotnet --info

      - name: Restore packages in preparation for ${{ env.PROJECT_NAME }} publishing
        run: dotnet restore ${{ env.PROJECT_NAME }} -p:ContinuousIntegrationBuild=true --nologo

      - name: Publish ${{ env.PROJECT_NAME }}
        run: dotnet publish ${{ env.PROJECT_NAME }} -o:"./publish/" -c:Release

      - name: Download previously built ASF-ui
        uses: actions/download-artifact@v4.1.8
        with:
          name: plugin-ui
          path: ./publish/ui

      - name: Collect files
        shell: pwsh
        run: |
          if (-Not (Test-Path -Path ./tmp)) {
              New-Item -ItemType Directory -Path ./tmp
          }
          else {
              Remove-Item -Path ./tmp/* -Recurse -Force
          }

          Copy-Item -Path .\publish\${{ env.PLUGIN_NAME }} -Destination .\tmp\ 
          Copy-Item -Path .\publish\ui\* -Destination .\tmp\${{ env.PLUGIN_NAME }}.www -Recurse

          $dirs = Get-ChildItem -Path ./publish -Directory
          foreach ($dir in $dirs) {
              $subFiles = Get-ChildItem -Path $dir.FullName -File -Filter *.resources.dll
              
              foreach ($file in $subFiles) {
                  $resourceName = [System.IO.Path]::GetFileNameWithoutExtension($file.Name)
                  $opDir = "./tmp/$resourceName"
                  if (-Not (Test-Path -Path $opDir)) {
                      New-Item -ItemType Directory -Path $opDir
                  }

                  $destinationPath = ".\tmp\$resourceName\$($dir.Name).dll"
                  Copy-Item -Path $file -Destination $destinationPath

                  Write-Output "Copy resource DLL $($file.FullName) -> $destinationPath"
              }
          }

      - name: Zip files
        run: 7z a -bd -slp -tzip -mm=Deflate -mx=5 -mfb=150 -mpass=10 "./dist/${{ env.PROJECT_NAME }}.zip" "./tmp/*"

      - name: Upload ${{ env.PROJECT_NAME }}
        continue-on-error: true
        uses: actions/upload-artifact@v4.3.6
        with:
          if-no-files-found: error
          name: ${{ env.PROJECT_NAME }}.zip
          path: ./dist/${{ env.PROJECT_NAME }}.zip

  release:
    needs: publish-plugin
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Download ${{ env.PROJECT_NAME }} artifact from windows-latest
        uses: actions/download-artifact@v4.1.8
        with:
          name: ${{ env.PROJECT_NAME }}.zip
          path: out

      - name: Create ${{ env.PROJECT_NAME }} GitHub release
        uses: ncipollo/release-action@v1.14.0
        with:
          artifacts: "out/*"
          makeLatest: false
          prerelease: true
          tag: ${{ github.ref_name }}
          name: ${{ env.PROJECT_NAME }} ${{ github.ref_name }}
          body: |
            ![Release](https://img.shields.io/badge/${{ env.REPO_NAME }}-${{ github.ref_name }}-brightgreen) ![Downloads](https://img.shields.io/github/downloads/chr233/${{ env.REPO_NAME }}/${{ github.ref_name }}/total?label=Downloads)

            ---

            前端入口 `http://localhost:1242/import` (假设 ASF IPC 接口在 http://localhost:1242)

            ---

            release created bt github actions
